%h1 Pages#index
%p Find me in app/views/pages/index.html.haml
= google_sign_in_button 'Sign in with my Google account', proceed_to: create_login_url
= google_sign_in_button image_tag(asset_pack_path('nelp_application/images/google_logo.png'), alt: 'Google'), proceed_to: create_login_url
= google_sign_in_button proceed_to: create_login_url do
  Sign in with my #{image_tag(asset_pack_path('nelp_application/images/google.png'), alt: 'Google')} account

%button.btn.btn-warning{:type => "button"} WARN
