@import '~bootstrap/scss/bootstrap'
@import 'variables'
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'
@import '~@fortawesome/fontawesome-free/scss/fontawesome'
@import '~@fortawesome/fontawesome-free/scss/regular'
@import '~@fortawesome/fontawesome-free/scss/solid'

@mixin setBgColorAndHover($baseColor)
    color: $baseColor
    &:hover
      color: darken($baseColor, 20%)

.application_content
  min-height: 400px
  margin-bottom: 120px
  clear: both

body
  background-color: #fff
  color: #333
  margin-bottom: 110px

footer
  font-size: .9rem
  margin-top: 10px
  background-image: url('../images/nelp-footer.png')
  color: $bone
  height: 114px

  .footer_brand_link
    a
      color: $um_maize

  a
    +setBgColorAndHover($bone)

  .footer-col-rt
   padding-top: 10px

  .footer-col-lf
   padding-top: 10px

  .copyright
    background-color: #fff
    color: black
.navbar-brand
  background-color: $um_maize
  padding: 5px
  border-radius: 2px

.dropdown
  border: $tappan_red 4px outset
  border-radius: 7px

.dropdown-menu
  background-color: $um_blue

.login_btn
  color: $bone
  background-color: $um_blue

.login_logo
  margin-left: 2px

.flash
  color: $primary-text-color
  border-radius: 4px
  padding: 10px
  margin: 0
  text-align: center
  text-transform: uppercase
  box-shadow: #ffc 0 0 4px

  &.notice
    background-color: $flash-notice-color

  &.alert
    background-color: $flash-alert-color
