@import '~bootstrap/scss/bootstrap'
@import 'variables'

footer
  background-color: $angell_hall_ash
  color: $bone

.navbar-brand
  background-color: $um_maize
  padding: 5px
  border-radius: 2px

.dropdown-menu
  background-color: $um_blue

.login_btn
  color: $bone
  background-color: $um_blue

.login_logo
  margin-left: 2px
