%footer.footer.fixed-bottom
  .container-fluid
    .row.justify-content-around
      .footer-col-rt.col-md-4
        %i.fa.fa-map-marker
        %a{:href => "http://campusinfo.umich.edu/campusmap", :target => "_blank"}
          435 S. State Street
          %br
          %i.fa.fa-map-marker.invisible
          Room 3187
          %br
          %i.fa.fa-map-marker.invisible
          Ann Arbor, MI 48109-1003
        .email
          %i.fa.fa-envelope
          %a{:href => "mailto:aknuth@umich.edu"} aknuth@umich.edu
        %div
          %a{:href => "http://www.lsa.umich.edu/nelp"}
            %span{:style => "color: rgb(255,203,5);"} LSA NELP Program


      .footer-col-lf.col-md-4.text-right
        %label.sr-only{:for => "deptPhone"} Click to call 734.764.6330
        #deptPhone.phone{:title => "Call New England Literature Program"}
          %i.fa.fa-phone
          734.764.6330
        .fax
          %i.fa.fa-print
          734.763.3128

    .row
      .copyright.col-md-12.text-center
        &copy; Regents of the University of Michigan
        = Date.today.year
